{{#each fields as |field|}}
  <p>
    <div>{{field.title}}</div>

    {{#equal field.type 'text'}}
      <input
        type="text"
        name="{{pathToParam (concat ../fieldPrefix field.path)}}"
        value="{{get ../editorSource (concat ../fieldPrefix field.path)}}"
        data-opts="{{json path=field.path}}"
      >
    {{/equal}}

    {{#equal field.type 'textarea'}}
      <textarea
        name="{{pathToParam (concat ../fieldPrefix field.path)}}"
        cols="50"
        rows="15"
        data-opts="{{json path=field.path}}"
>{{get ../editorSource (concat ../fieldPrefix field.path)}}</textarea>
    {{/equal}}

    {{#equal field.type 'file'}}
      <div class="js-file-field" data-opts="{{json field=field}}">
        <img class="file-upload-preview" src="{{concat (get ../editorSource (concat ../fieldPrefix field.path))}}">
        <input type="hidden" class="js-hidden-file-input" name="{{pathToParam (concat ../fieldPrefix field.path)}}" id="{{pathToParam (concat ../fieldPrefix field.path)}}" value="{{get ../editorSource (concat ../fieldPrefix field.path)}}">
        <div class="file-upload js-file-upload">
          Drop a file or click here to upload</p>
        </div>
      </div>
    {{/equal}}

    {{#equal field.type 'list'}}
      <div class="js-field-list" data-opts="{{json listPath=(concat fieldPrefix field.path) field=field}}">
        <a class="js-prepend-to-list" href="#">+ add to beginning</a>
        <ul>
          {{#each (get ../editorSource (concat ../fieldPrefix field.path)) as |listItem itemIndex|}}
            <li>
{{> listitem
  listItem=listItem
  editorConfig=../../editorConfig
  fields=field.itemFields
  editorSource=../../editorSource
  fieldPrefix=(concat ../fieldPrefix field.path '.' itemIndex '.')
}}
            </li>
          {{/each}}
        </ul>
        <a class="js-append-to-list" href="#">+ add to end</a>
      </div>
    {{/equal}}
  </p>
{{/each}}
