<form method="post">
  {{#each editorConfig.fields as |field|}}
    <p>
      <div>{{field.title}}</div>

      {{#equal field.type 'text'}}
        <input type="text" name="{{pathToParam field.path}}" value="{{get ../editorSource field.path}}">
      {{/equal}}

      {{#equal field.type 'textarea'}}
        <textarea name="{{pathToParam field.path}}" cols="50" rows="15">{{get ../editorSource field.path}}</textarea>
      {{/equal}}
    </p>
  {{/each}}
  <p>
    <input type="submit" value="Save">
  </p>
</form>
{{> preview previewPath=editorConfig.previewPath}}
