<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SSG CMS</title>
    <link rel="stylesheet" type="text/css" href="{{assetBaseUrl}}/style.css">
    {{#if flashes}}
      <script type="text/javascript">
        window.flashes = {{{json flashes}}};
      </script>
    {{/if}}
  </head>
  <body>
    <div class="flash-container js-flash-container"></div>
    <header>
      <div>
        <a href="/{{config.editBasePath}}">Editor Home</a> -
        <a href="/{{config.editBasePath}}/upload">Upload</a> -
        <a href="/" target="_blank">Preview</a> -
        <a href="{{config.productionUrl}}" target="_blank">Production site</a>
      <div>
    </header>
    {{{ body }}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{assetBaseUrl}}/index.js"></script>
  </body>
</html>
